/* line 5, ../scss/style.scss */
.panel {
  font-family: 'TruenoSemibold', sans-serif;
  color: white !important;
  /*background: url("../img/honey.jpg") center top;*/
  background-size: cover;
  text-align: center;
  margin: 0 0 80px 0 !important;
  padding: 0 !important;
}
/* line 14, ../scss/style.scss */
.panel .overlay {
  background: rgba(57, 57, 60, 1);
  padding: 80px;
}
/* line 18, ../scss/style.scss */
.panel img {
  margin: 0 auto;
  width: 1.2em;
}

/* line 25, ../scss/style.scss */
.content {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

/* line 29, ../scss/style.scss */
.signature {
  font-family: 'Roboto', sans-serif;
  margin: 40px 0 150px 0;
}

/* line 34, ../scss/style.scss */
.colorBox {
  display: flex;
}
/* line 36, ../scss/style.scss */
.colorBox .yellow {
  display: inline-block;
  width: 25%;
  height: 10px;
  background-color: #F46C56;
}
/* line 42, ../scss/style.scss */
.colorBox .orange {
  display: block;
  width: 25%;
  height: 10px;
  background-color: #C03445;
}
/* line 48, ../scss/style.scss */
.colorBox .blue {
  display: inline-block;
  width: 25%;
  height: 10px;
  background-color: #49243F;
}
/* line 54, ../scss/style.scss */
.colorBox .lightBlue {
  display: inline-block;
  width: 25%;
  height: 10px;
  background-color: #BB4272;
}

.green {
  background: rgba(1, 60, 30, .7);
}
